[submodule "configs/ranger-plugins/archives"]
	path = configs/ranger-plugins/archives
	url = https://github.com/maximtrp/ranger-archives.git
[submodule "env-wrappers/goenv/goenv"]
	path = env-wrappers/goenv/goenv
	url = https://github.com/syndbg/goenv.git
[submodule "env-wrappers/jenv/jenv"]
	path = env-wrappers/jenv/jenv
	url = https://github.com/jenv/jenv.git
[submodule "env-wrappers/luaenv/lua-build"]
	path = env-wrappers/luaenv/lua-build
	url = https://github.com/cehoffman/lua-build.git
[submodule "env-wrappers/luaenv/luaenv"]
	path = env-wrappers/luaenv/luaenv
	url = https://github.com/cehoffman/luaenv.git
[submodule "env-wrappers/luaenv/luaenv-luarocks"]
	path = env-wrappers/luaenv/luaenv-luarocks
	url = https://github.com/xpol/luaenv-luarocks.git
[submodule "env-wrappers/phpenv/php-build"]
	path = env-wrappers/phpenv/php-build
	url = https://github.com/php-build/php-build.git
[submodule "env-wrappers/phpenv/phpenv"]
	path = env-wrappers/phpenv/phpenv
	url = https://github.com/phpenv/phpenv.git
[submodule "env-wrappers/phpenv/phpenv-aliases"]
	path = env-wrappers/phpenv/phpenv-aliases
	url = https://github.com/madumlao/phpenv-aliases.git
[submodule "env-wrappers/phpenv/phpenv-composer"]
	path = env-wrappers/phpenv/phpenv-composer
	url = https://github.com/ngyuki/phpenv-composer.git
[submodule "env-wrappers/plenv/perl-build"]
	path = env-wrappers/plenv/perl-build
	url = https://github.com/tokuhirom/Perl-Build.git
[submodule "env-wrappers/plenv/plenv"]
	path = env-wrappers/plenv/plenv
	url = https://github.com/tokuhirom/plenv.git
[submodule "env-wrappers/plenv/plenv-contrib"]
	path = env-wrappers/plenv/plenv-contrib
	url = https://github.com/miyagawa/plenv-contrib.git
[submodule "env-wrappers/plenv/plenv-download"]
	path = env-wrappers/plenv/plenv-download
	url = https://github.com/skaji/plenv-download.git
[submodule "env-wrappers/pyenv/pyenv"]
	path = env-wrappers/pyenv/pyenv
	url = https://github.com/yyuu/pyenv.git
[submodule "env-wrappers/pyenv/pyenv-default-packages"]
	path = env-wrappers/pyenv/pyenv-default-packages
	url = https://github.com/jawshooah/pyenv-default-packages.git
[submodule "env-wrappers/pyenv/pyenv-virtualenv"]
	path = env-wrappers/pyenv/pyenv-virtualenv
	url = https://github.com/yyuu/pyenv-virtualenv.git
[submodule "env-wrappers/rbenv/rbenv"]
	path = env-wrappers/rbenv/rbenv
	url = https://github.com/rbenv/rbenv.git
[submodule "env-wrappers/rbenv/rbenv-aliases"]
	path = env-wrappers/rbenv/rbenv-aliases
	url = https://github.com/tpope/rbenv-aliases.git
[submodule "env-wrappers/rbenv/rbenv-binstubs"]
	path = env-wrappers/rbenv/rbenv-binstubs
	url = https://github.com/ianheggie/rbenv-binstubs.git
[submodule "env-wrappers/rbenv/rbenv-chefdk"]
	path = env-wrappers/rbenv/rbenv-chefdk
	url = https://github.com/docwhat/rbenv-chefdk.git
[submodule "env-wrappers/rbenv/rbenv-ctags"]
	path = env-wrappers/rbenv/rbenv-ctags
	url = https://github.com/tpope/rbenv-ctags.git
[submodule "env-wrappers/rbenv/rbenv-default-gems"]
	path = env-wrappers/rbenv/rbenv-default-gems
	url = https://github.com/rbenv/rbenv-default-gems.git
[submodule "env-wrappers/rbenv/rbenv-env"]
	path = env-wrappers/rbenv/rbenv-env
	url = https://github.com/ianheggie/rbenv-env.git
[submodule "env-wrappers/rbenv/rbenv-man"]
	path = env-wrappers/rbenv/rbenv-man
	url = https://github.com/mlafeldt/rbenv-man.git
[submodule "env-wrappers/rbenv/ruby-build"]
	path = env-wrappers/rbenv/ruby-build
	url = https://github.com/rbenv/ruby-build.git
[submodule "tools/diff-so-fancy"]
	path = tools/diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy.git
[submodule "tools/fzf"]
	path = tools/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "tools/git-extras"]
	path = tools/git-extras
	url = https://github.com/tj/git-extras.git
[submodule "tools/git-quick-stats"]
	path = tools/git-quick-stats
	url = https://github.com/arzzen/git-quick-stats.git
[submodule "tools/httpstat"]
	path = tools/httpstat
	url = https://github.com/b4b4r07/httpstat.git
[submodule "tools/spark"]
	path = tools/spark
	url = https://github.com/holman/spark.git
[submodule "tools/spectre-meltdown-checker"]
	path = tools/spectre-meltdown-checker
	url = https://github.com/speed47/spectre-meltdown-checker
[submodule "tools/testssl.sh"]
	path = tools/testssl.sh
	url = https://github.com/drwetter/testssl.sh.git
[submodule "tools/zsh-bin"]
	path = tools/zsh-bin
	url = https://github.com/romkatv/zsh-bin.git
[submodule "zsh/plugins/abbr"]
	path = zsh/plugins/abbr
	url = https://github.com/olets/zsh-abbr.git
[submodule "zsh/plugins/archive"]
	path = zsh/plugins/archive
	url = https://github.com/romkatv/archive.git
[submodule "zsh/plugins/autoenv"]
	path = zsh/plugins/autoenv
	url = https://github.com/Tarrasch/zsh-autoenv.git
[submodule "zsh/plugins/autopair"]
	path = zsh/plugins/autopair
	url = https://github.com/hlissner/zsh-autopair.git
[submodule "zsh/plugins/autosuggestions"]
	path = zsh/plugins/autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
	branch = develop
[submodule "zsh/plugins/completions"]
	path = zsh/plugins/completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/plugins/defer"]
	path = zsh/plugins/defer
	url = https://github.com/romkatv/zsh-defer.git
[submodule "zsh/plugins/dircolors-solarized"]
	path = zsh/plugins/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "zsh/plugins/fzf-tab"]
	path = zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
[submodule "zsh/plugins/git-completion"]
	path = zsh/plugins/git-completion
	url = https://github.com/felipec/git-completion.git
[submodule "zsh/plugins/iterm2-shell-integration"]
	path = zsh/plugins/iterm2-shell-integration
	url = https://github.com/gnachman/iTerm2-shell-integration.git
[submodule "zsh/plugins/powerlevel10k"]
	path = zsh/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh/plugins/syntax-highlighting"]
	path = zsh/plugins/syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/z"]
	path = zsh/plugins/z
	url = https://github.com/agkozak/zsh-z.git
